
.navbar{
    background: repeating-linear-gradient(pink, gray);
}

.navbar-nav{
    text-align: center;
}

#botonBusqueda{
    background-color: #43CBFF;
    color: #fff;
}

#contactosTitulo{
    font-size: 35px;
    text-align: initial;
    font-family: 'avengers';
}

.detalles{
    font-size: 15px;
}

#añadir{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 43%;
    text-align: center;
    display: grid;
    width: 200px;
    font-family: arial;
    font-weight: 700;
    background: linear-gradient(pink, gray);
    color: #000;
    border: none;
    padding: 15px 30px;
    text-decoration: none;
}

#perfil{
    margin-left: 45%;
    margin-top: 20%;
    text-align: left;
    font-family: 'avengers';
}

#targeta{
    margin-right: 20%;
    margin-top: 20%;
    margin-left: 20%;
}

#pendientes{
    margin-left: 5%;
    font-size: 30px;
    text-align: left;
    font-family: 'avengers';
    margin-top: 2%;
}

.prioridadcheck{
    margin-left: 5%;
}


.check{
    margin-left: 5%;
   
}